<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ordersystem">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrderSystem">
        <activity
            android:name=".SearchActivity"
            android:exported="true" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="true"
            android:label="FeedbackActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SetActivity"
            android:exported="true"
            android:label="SetActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OrderActivity"
            android:exported="true"
            android:label="OrderActivity"
            android:parentActivityName=".ShopActivity" />
        <activity
            android:name=".ShopActivity"
            android:exported="true"
            android:label="ShopActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetailActivity"
            android:exported="true"
            android:label="DetailActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ListActivity"
            android:label="ListActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ordersystem.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>